In [1]:
import pandas as pd

data = [
    {
        "Title": "Thor",
        "Author": "Samgam",
        "Isbn": "1234-5678-90",
        "Available": True
    },
    {
        "Title": "Spider Man",
        "Author": "Anup",
        "Isbn": "1234-5678-900",
        "Available": False
    },
    {
        "Title": "Wonder Women",
        "Author": "Samir",
        "Isbn": "1234-5678-89",
        "Available": True
    }
]

df = pd.DataFrame(data)

df

          Title  Author           Isbn  Available
0          Thor  Samgam   1234-5678-90       True
1    Spider Man    Anup  1234-5678-900      False
2  Wonder Women   Samir   1234-5678-89       True