In [3]:
import pandas as pd

df = pd.read_csv("csv_files/pokemon_data.csv")

Find all non-legendary Pokémon from Generation 1 whose Speed is higher than 100,
and show only their Name, Type 1, Speed, and Total stats — sorted by Speed (descending).

In [17]:
df.head(3)

filter_df = df.loc[(~ df["Legendary"]) & 
                   (df["Generation"] == 1) & 
                   (df["Speed"] > 100)
                   ].copy()
filter_df["Total stats"] = filter_df["Total"] = filter_df['HP'] + filter_df['Attack'] + filter_df['Defense'] + filter_df['Sp. Atk'] + filter_df['Sp. Def'] + filter_df['Speed']
filter_df.sort_values(by=["Speed"], ascending= False)[["Name", "Type 1", "Speed", "Total stats"]]

                          Name    Type 1  Speed  Total stats
154  AerodactylMega Aerodactyl      Rock    150          615
71       AlakazamMega Alakazam   Psychic    150          590
19       BeedrillMega Beedrill       Bug    145          495
109                  Electrode  Electric    140          480
153                 Aerodactyl      Rock    130          515
146                    Jolteon  Electric    130          525
102          GengarMega Gengar     Ghost    130          600
23         PidgeotMega Pidgeot    Normal    121          579
70                    Alakazam   Psychic    120          500
56                     Dugtrio    Ground    120          405
130                    Starmie     Water    115          520
58                     Persian    Normal    115          440
138                     Tauros    Normal    110          490
31                      Raichu  Electric    110          485
101                     Gengar     Ghost    110          500
132                    Scyther       Bug    105          500
134                 Electabuzz  Electric    105          490
137          PinsirMega Pinsir       Bug    105          600
84                    Rapidash      Fire    105          500
69                     Kadabra   Psychic    105          400
22                     Pidgeot    Normal    101          479

Find all Pokémon that meet these criteria:

Are from Generation 2 or later
Have Attack greater than or equal to 120
Are not Legendary
Have at least one of their types as either "Fire" or "Dragon"

In [1]:
filter_df = df.copy()
# filter_df.head(3)
filter_df = filter_df.loc[(filter_df["Generation"] >= 2) & 
              (filter_df["Attack"] >= 120) &
              (~filter_df["Legendary"])&
              (filter_df["Type 1"].isin(["Fire","Dragon"]) | filter_df["Type 2"].isin(["Fire","Dragon"]))
              ]
# filter_df.reset_index(inplace= True)
filter_df.reset_index(inplace= True, drop= True)
filter_df

NameError: name 'df' is not defined

Find all Pokémon that:

Are from Generation 2 or 3,
Have a Defense stat greater than 100,
Are not Legendary,
And have either "Psychic" or "Ghost" as their Type 1 or Type 2,
Then, add a new column called "Offense" which is the sum of Attack + Sp. Atk,
Finally, sort the results by "Offense" in descending order and show only these columns: Name, Type 1, Type 2, Defense, Offense

In [6]:
df.head(3)
filter_df = df.loc[(df["Generation"].isin([2,3])) &
                   ~df["Legendary"] &
                   (df["Defense"] > 100) &
                   (df["Type 1"].isin(["Psychic", "Ghost"]) | df["Type 2"].isin(["Psychic","Ghost"])) 
                   ].copy()
filter_df["Offense"] = filter_df["Attack"] + filter_df["Sp. Atk"]
filter_df.sort_values(by="Offense", ascending = False)[["Name", "Type 1", "Type 2", "Defense", "Offense"]]

                        Name  Type 1   Type 2  Defense  Offense
413  MetagrossMega Metagross   Steel  Psychic      150      250
412                Metagross   Steel  Psychic      130      230
327      SableyeMega Sableye    Dark    Ghost      125      170
376                  Claydol  Ground  Psychic      105      140
389                 Dusclops   Ghost      NaN      130      130

Challenge:
Find all Pokémon that meet these conditions:

Are from Generation 4 or later (Generation ≥ 4)
Have Speed greater than the average Speed of all Pokémon in the dataset
Are NOT Legendary
Have either Type 1 or Type 2 as "Water" or "Flying"
Create a new column called "Speed to Total Ratio" which is the Pokémon’s Speed divided by their Total stats
Sort the filtered Pokémon by "Speed to Total Ratio" in descending order
Return the columns: "Name", "Type 1", "Type 2", "Speed", "Total", "Speed to Total Ratio"

In [21]:
df.columns


average_speed = df["Speed"].mean()
filter_df = df.loc[(df["Generation"] >= 4) & 
                   (df["Speed"] > average_speed)&
                   ~(df["Legendary"]) & 
                   (df["Type 1"].isin(["Water","Flying"]) | df["Type 2"].isin(["Water","Flying"]))
                   ].copy()
filter_df["Total"] = filter_df['HP'] + filter_df['Attack'] + filter_df['Defense'] + filter_df['Sp. Atk'] + filter_df['Sp. Def'] + filter_df['Speed']
filter_df["Speed to Total Ratio"] = (filter_df["Speed"] / filter_df["Total"]).round(4)
filter_df.reset_index(inplace= True, drop= True)
# filter_df.sort_values(by="Name", inplace= True)
filter_df.sort_values(by="Name")[["Name","Type 1","Type 2","Speed", "Total", "Speed to Total Ratio"]]

,Name,Type 1,Type 2,Speed,Total,Speed to Total Ratio
27,Archen,Rock,Flying,70,401,0.1746
28,Archeops,Rock,Flying,110,567,0.1940
25,Basculin,Water,NaN,98,460,0.2130
2,Bibarel,Normal,Water,71,410,0.1732
31,Braviary,Normal,Flying,80,510,0.1569
4,Buizel,Water,NaN,85,330,0.2576
9,Chatot,Normal,Flying,91,411,0.2214
3,Combee,Bug,Flying,70,244,0.2869
7,Drifblim,Ghost,Flying,80,498,0.1606
6,Drifloon,Ghost,Flying,70,348,0.2011
30,Emolga,Electric,Flying,103,428,0.2407
38,Fletchinder,Fire,Flying,84,382,0.2199
5,Floatzel,Water,NaN,115,495,0.2323
35,Froakie,Water,NaN,71,314,0.2261
36,Frogadier,Water,NaN,97,405,0.2395
13,Gliscor,Ground,Flying,95,510,0.1863
37,Greninja,Water,Dark,122,530,0.2302
41,Hawlucha,Fighting,Flying,118,500,0.2360
8,Honchkrow,Dark,Flying,71,505,0.1406
33,KeldeoOrdinary Forme,Water,Fighting,108,580,0.1862
34,KeldeoResolute Forme,Water,Fighting,108,580,0.1862
10,Lumineon,Water,NaN,91,460,0.1978
17,Manaphy,Water,NaN,100,600,0.1667
32,Mandibuzz,Dark,Flying,80,510,0.1569
42,Noivern,Flying,Dragon,123,535,0.2299
23,Palpitoad,Water,Ground,69,384,0.1797
16,Phione,Water,NaN,80,480,0.1667
15,RotomFan Rotom,Electric,Flying,86,520,0.1654
14,RotomWash Rotom,Electric,Water,86,520,0.1654
18,Samurott,Water,NaN,70,528,0.1326
24,Seismitoad,Water,Ground,74,509,0.1454
26,Sigilyph,Psychic,Flying,97,490,0.1980
19,Simipour,Water,NaN,101,498,0.2028
1,Staraptor,Normal,Flying,100,485,0.2062
0,Staravia,Normal,Flying,80,340,0.2353
29,Swanna,Water,Flying,98,473,0.2072
22,Swoobat,Psychic,Flying,114,425,0.2682
39,Talonflame,Fire,Flying,126,499,0.2525
11,Togekiss,Fairy,Flying,80,545,0.1468
20,Unfezant,Normal,Flying,93,488,0.1906
40,Vivillon,Bug,Flying,89,411,0.2165
21,Woobat,Psychic,Flying,72,313,0.2300
12,Yanmega,Bug,Flying,95,515,0.1845

Using the Pokémon dataset df,

Filter all Pokémon that are Generation 1 to 5 and not Legendary.
Group these Pokémon by "Type 1" (primary type).
For each group, calculate:
The average Total stats (sum of all base stats: HP, Attack, Defense, Sp. Atk, Sp. Def, Speed)
The count of Pokémon in that type
Create a new DataFrame with columns:
["Type 1", "Average Total Stats", "Count"]
Sort this DataFrame by "Average Total Stats" in descending order.
Finally, print the top 3 types with the highest average total stats.

In [16]:
filter_df = df.loc[(df["Generation"] <= 5) &
                   1 <= df["Generation"] &
                   ~df["Legendary"]
                   ].copy()

# grouping type 1
grouped = filter_df.groupby("Type 1")

# geting the average for each type 1
average_total_stats = grouped[["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]].mean()

# getting the average of all
average_total_stats["Average Total Stats"] = average_total_stats.sum(axis=1)

grouped_count = grouped.size().to_frame("Count")

# result_df = average_total_stats[["Average Total Stats"]].merge(grouped_count, left_index=True, right_index=True)
result_df = average_total_stats[["Average Total Stats"]].merge(grouped_count, left_index= True, right_index= True)

# making data ascending
result_df.sort_values(by="Average Total Stats", ascending=False)

result_df.head(3)

        Average Total Stats  Count
Type 1
Bug              367.446809     47
Dark             427.863636     22
Dragon           478.058824     17