1..
Create a Series from a list of numbers:
[10, 20, 30, 40, 50]

In [ ]:
import pandas as pd

data = pd.Series([10, 20, 30, 40, 50])

# Print the Series
print("Series:")
print(data)

# Access the 2nd and 4th item (indexing starts at 0)
print(f"\n2nd items: {data[1]}")
print(f"4nd items: {data[3]}")

# Find the sum and mean of the series.
print(f"\nSum of series is {data.sum()}")
print(f"mean of series is {data.mean()}")

Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

2nd items: 20
4nd items: 40

Sum of series is 150
mean of series is 30.0

2.. Create a Series with custom index:
Data: [5, 10, 15]
Index: ['a', 'b', 'c']

Access value with index 'b'
Change value at 'c' to 20

In [ ]:
import pandas as pd

# creating a series of custon index
data  = pd.Series([5, 10, 15], index = ["a", "b","c"])
print("Series")
print(data)

# accessing value of sepecific index
print(f"\nValue of index 'b' is {data["b"]}")
data["c"] = 20
print(F"Value of index 'c' has been change into {data["c"]}")

Series
a     5
b    10
c    15
dtype: int64

Value of index 'b' is 10
Value of index 'c' has been change into 20

3.. Create a Series with missing values (None or np.nan):
[1, None, 3, 4, np.nan]

Count how many missing values there are.
Replace all NaN with 0.

In [16]:
import pandas as pd
import numpy as np

# Create a Series with missing values (None or np.nan):
data = pd.Series([1,None, 3,np.nan])
print("Series")
print(data)

# Count how many missing values there are.
# region program way
# missing = 0
# for i in range(len(data)):
#     if pd.isna(data[i]):
#         missing += 1
#         data[i] = 0
# endregion
count = data.isna().sum()
print(f"Number of nan is {count}")

# printing new change data
# region manual way
# print("\nNew Series")
# print(data)
# print(f"Missing value: {missing}")
# endregion
print(data:= data.fillna(0))

Series
0    1.0
1    NaN
2    3.0
3    NaN
dtype: float64
Number of nan is 2
0    1.0
1    0.0
2    3.0
3    0.0
dtype: float64

4.. Create a Series of city names:
['Kathmandu', 'Pokhara', 'Lalitpur', 'Bhaktapur']
Check if 'Pokhara' exists.
Find how many characters each city name has.

In [13]:
import pandas as pd

# Create a Series of city names:
data = pd.Series(['Kathmandu', 'Pokhara', 'Lalitpur', 'Bhaktapur'])

# Check if 'Pokhara' exists.
print(f"Does 'Pokhara' exist: \n{data.isin(["Pokhara"])}")
print("Pokhara" in data.values)

# Find how many characters each city name has.
print(f"Counting charecters in name: {data.str.len()}")

Does 'Pokhara' exist:
0    False
1     True
2    False
3    False
dtype: bool
True
Counting charecters in name: 0    9
1    7
2    8
3    9
dtype: int64

5.. Create a Series of exam marks for 5 students.
Index = student names  
Values = marks
Sort marks in descending order.

Find which student got the highest.

In [ ]:
import pandas as pd

# variable
mask = ['90','60','75','99','60']
student_name = ["ankit", "anmol","amit", "samir","manish"]

# creating Series with idenx name student name, mask as value
result = pd.Series(mask ,index= [name.capitalize() for name in student_name])
print("         Maks")
print(result)

# Sorting mask in decending order
result = result.sort_values(ascending=False)
print("\n        Mask(ranked)")
print(result)

# Find which student got the highest.
print(f"\nHight value obtaing is {result.max()} by {result.index[0]}")

         Maks
Ankit     90
Anmol     60
Amit      75
Samir     99
Manish    60
dtype: object

        Mask(ranked)
Samir     99
Ankit     90
Amit      75
Anmol     60
Manish    60
dtype: object

Hight value obtaing is 99 by Samir

6.. Create a Series from a dictionary:
{'Apple': 100, 'Banana': 30, 'Mango': 80}
Add 20 to each value.
Remove 'Banana'

In [ ]:
import pandas as pd

# variable
fruits_qnt = {
        'Apple': 100,
        'Banana': 30,
        'Mango': 80
        }

# creating Series obejct to store data in 1-dimensonal
data = pd.Series(fruits_qnt)
print("          qty")
print(data)

# Add 20 to each value.
data = data.add(20)
print("\n          qty")
print(data)

# Remove 'Banana' 
data.pop("Banana")
# data = data.drop("Banana")
print("\n          qty")
print(data)

          qty
Apple     100
Banana     30
Mango      80
dtype: int64

          qty
Apple     120
Banana     50
Mango     100
dtype: int64

          qty
Apple    120
Mango    100
dtype: int64

7.. Apply a custom function to Series:
Create a Series of numbers and multiply each element by 3 only if itâ€™s greater than 10.

In [18]:
from os import replace
import pandas as pd

# variables
a = [4,8,9,10,15,11]

# creating object of Series inn 1-dimensoal
data = pd.Series(a)
print("    num")
print(data)

# creaing function that multiply by 3
def multiplier(x):
    if x >= 10:
        return x * 3
    return x

# passing data
data = data.apply(multiplier)
print("\n    num")
print(data)

    num
0     4
1     8
2     9
3    10
4    15
5    11
dtype: int64

    num
0     4
1     8
2     9
3    30
4    45
5    33
dtype: int64

8.. Create a Series of temperatures for a week:
temp = [32, 31, 30, 29, 33, 34, 35]
Index: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
Get temperature on 'Thu'.
Find average temperature.
Which day had the highest temperature?

In [1]:
import pandas as pd

# variable
temp = [32, 31, 30, 29, 39, 34, 35]
index = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

# creaing object of Series in 1-Dimensonal
data = pd.Series(temp, index= index)
print("     temperature")
print(data)

# Get temperature on 'Thu'.
print(f"\nThe temperature of Thusday is {data["Thu"]}")

# Find average temperature.
print(f"\nThe Average temperature of is {int(data.mean())}")

# Which day had the highest temperature?
print(f"\nThe Highest tempeature was on {(data.sort_values(ascending= False).index[0])}")

     temperature
Mon    32
Tue    31
Wed    30
Thu    29
Fri    39
Sat    34
Sun    35
dtype: int64

The temperature of Thusday is 29

The Average temperature of is 32

The Highest tempeature was on Fri

9.. Filter with conditions:
Use a Series of numbers:
[5, 12, 7, 18, 3, 20]

Get all values greater than 10.
Replace values less than 6 with 0.

In [22]:
import pandas as pd

# variable
list = [6, 12, 7, 18, 3, 20]

# making object of Series
data = pd.Series(list)

# Get all values greater than 10.
less_than_10 = data[data > 10]
print("    value")
print(less_than_10)
print("These all values are greater than 10")

# Replace values less than 6 to 0
replace = data.replace(6, 0)
print("\n    value")
print(replace)
print("All 6 has been changed into 0")

    value
1    12
3    18
5    20
dtype: int64
These all values are greater than 10

    value
0     0
1    12
2     7
3    18
4     3
5    20
dtype: int64
All 6 has been changed into 0

10 ..Apply string functions:
Create a Series of names:
['Ram', 'Sita', 'Hari', 'Gita']

Convert all names to lowercase.
Find the length of each name.

In [20]:
import pandas as pd

# variables
name =['Ram', 'Sita', 'Hari', 'Gita']

# making object of Series
data = pd.Series(name)

# Convert all name into lowercase
lower_data  = data.str.lower()
print("    Name")
print(lower_data)

# find the length of each name
count_data_len = data.str.len()
print("    Name")
print(count_data_len)

    Name
0     ram
1    sita
2    hari
3    gita
dtype: object
    Name
0    3
1    4
2    4
3    4
dtype: int64

11.. ðŸ“Š Aggregation and Stats
Marks of Students:
{'Alex': 85, 'Bob': 92, 'Cindy': 78, 'David': 90, 'Eva': 95}

Find min and max marks.
Find number of students scoring more than 90.
Calculate the mean.

In [63]:
import pandas as pd

# variables
name_mask = {'Alex': 85, 'Bob': 92, 'Cindy': 78, 'David': 90, 'Eva': 95}

# creating object of Series
data = pd.Series(name_mask)
print(data)

#Find min and max marks.
max_mask = data.sort_values(ascending=False)
print("\n      Name    Mask") 
print(f"Max   {max_mask.index[0]}     {data.max()}")
print(f"Min   {(data.sort_values()).index[0]}   {data.min()}")

Alex     85
Bob      92
Cindy    78
David    90
Eva      95
dtype: int64

      Name    Mask
Max   Eva     95
Min   Cindy   78

12..Missing Data HandlingMissing Data Handling:
[100, None, 90, np.nan, 85, 95]

Count non-null values.
Fill missing values with average.
Drop all NaNs and show the result.

In [ ]:
import pandas as pd
import numpy as np

# List of values (some missing)
values = [100, None, 90, np.nan, 85, 95]

# Creating a Series
data = pd.Series(values)

# Count non-null values
count = data.count()
print("Number of non-null values:", count)

# Fill missing values with average. 
average = data.mean()

average_replace = data.replace([None, np.nan], average)
print("      Mask")
print(average_replace)

# Drop all NaNs and show the result.
drop_data = data.dropna()
print("\n      Mask")
print(drop_data)

Number of non-null values: 4
      Mask
0    100.0
1     92.5
2     90.0
3     92.5
4     85.0
5     95.0
dtype: float64

      Mask
0    100.0
1      NaN
2     90.0
3      NaN
4     85.0
dtype: float64

13 ..Create a Series of squares from 1 to 10
Output: 1, 4, 9, 16, ..., 100

In [ ]:
import numbers
import pandas as pd

# variable
numbers = [1,2,3,4,5,6,7,8,9,10]
squares = [x**2 for x in numbers]

# creating object of series
data = pd.Series(a)

# creating square of data
series = pd.Series(squares, index=numbers)
print("number square")
print(series)

number square
1       1
2       4
3       9
4      16
5      25
6      36
7      49
8      64
9      81
10    100
dtype: int64

14... Reverse a Series:
Input: [1, 2, 3, 4, 5]
Output: [5, 4, 3, 2, 1]

In [3]:
import pandas as pd

# variable
my_list = list(range(1,6))
reverse_my_list = my_list[::-1]

# creating object of series
data = pd.Series(reverse_my_list , index=my_list)
print("number","reverse")
print(data)

print("")
for index,(key, value) in enumerate(data.items(), start=1):
    if index == 1:
        print("------------------------")
        print("|  Number  |  Reverse  |")
        print("------------------------")

    print(f"|{key:^10}|{value:^11}|")
print("------------------------")

for column_name, series in data.items():
    print("Column:", column_name)
    print("Data:")
    print(series)
    print("-" * 30)

number reverse
1    5
2    4
3    3
4    2
5    1
dtype: int64

------------------------
|  Number  |  Reverse  |
------------------------
|    1     |     5     |
|    2     |     4     |
|    3     |     3     |
|    4     |     2     |
|    5     |     1     |
------------------------
Column: 1
Data:
5
------------------------------
Column: 2
Data:
4
------------------------------
Column: 3
Data:
3
------------------------------
Column: 4
Data:
2
------------------------------
Column: 5
Data:
1
------------------------------

15... Index mapping:
Values: [200, 300, 150]
Index: ['Shirt', 'Pant', 'Shoes']

Increase all prices by 10%.
Show only items priced more than 250.

In [85]:
import pandas as pd

# variables
Values =  [200, 300, 150]
Index =  ['Shirt', 'Pant', 'Shoes']
new_price = []

# creaging object of series
data = pd.Series(Values, index= Index)
print("Items    price")
print(data)

# Increase all prices by 10%.
inc_price = lambda x : round(x * 1.1)
# data = pd.Series((list(map(inc_price, Values))), index = Index)
new_data = data.apply(inc_price)
print()
print("Items    new price")
print(new_data)

# Show only items priced more than 250.
import pandas as pd
# filter prices greater than 250
filtered = data[data > 250]
print()
print("Items    new price")
print(filtered)

Items    price
Shirt    200
Pant     300
Shoes    150
dtype: int64

Items    new price
Shirt    220
Pant     330
Shoes    165
dtype: int64

Items    new price
Pant    300
dtype: int64

self.. creaing cvs file form dictionary

In [3]:
import pandas as pd

data = {
    'Duration': [60, 60, 60, 45, 45, 60, 60, 450, 30, 60, 60, 60, 60, 60, 60, 60, 60, 60, 45, 60, 45, 60, 45, 60, 45, 60, 60, 60, 60, 60, 60, 60],
    'Date': ['2020/12/01', '2020/12/02', '2020/12/03', '2020/12/04', '2020/12/05', '2020/12/06', '2020/12/07', '2020/12/08', '2020/12/09', '2020/12/10', 
             '2020/12/11', '2020/12/12', '2020/12/12', '2020/12/13', '2020/12/14', '2020/12/15', '2020/12/16', '2020/12/17', '2020/12/18', '2020/12/19', 
             '2020/12/20', '2020/12/21', None, '2020/12/23', '2020/12/24', '2020/12/25', '2020/12/26', '2020/12/27', '2020/12/28', '2020/12/29', 
             '2020/12/30', '2020/12/31'],
    'Pulse': [110, 117, 103, 109, 117, 102, 110, 104, 109, 98, 103, 100, 100, 106, 104, 98, 98, 100, 90, 103, 97, 108, 100, 130, 105, 102, 100, 92, 103, 100, 102, 92],
    'Maxpulse': [130, 145, 135, 175, 148, 127, 136, 134, 133, 124, 147, 120, 120, 128, 132, 123, 120, 120, 112, 123, 125, 131, 119, 101, 132, 126, 120, 118, 132, 132, 129, 115],
    'Calories': [409.1, 479.0, 340.0, 282.4, 406.0, 300.0, 374.0, 253.3, 195.1, 269.0, 329.3, 250.7, 250.7, 345.3, 379.3, 275.0, 215.2, 300.0, None, 323.0, 243.0, 364.2, 282.0, 300.0, 246.0, 334.5, 250.0, 241.0, None, 280.0, 380.3, 243.0]
}

df = pd.DataFrame(data)
df.to_csv("csv_files/test.csv", index=False)