1..
Create a Series from a list of numbers:
[10, 20, 30, 40, 50]

In [ ]:
import pandas as pd

data = pd.Series([10, 20, 30, 40, 50])

# Print the Series
print("Series:")
print(data)

# Access the 2nd and 4th item (indexing starts at 0)
print(f"\n2nd items: {data[1]}")
print(f"4nd items: {data[3]}")

# Find the sum and mean of the series.
print(f"\nSum of series is {data.sum()}")
print(f"mean of series is {data.mean()}")

Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

2nd items: 20
4nd items: 40

Sum of series is 150
mean of series is 30.0

2.. Create a Series with custom index:
Data: [5, 10, 15]
Index: ['a', 'b', 'c']

Access value with index 'b'
Change value at 'c' to 20

In [ ]:
import pandas as pd

# creating a series of custon index
data  = pd.Series([5, 10, 15], index = ["a", "b","c"])
print("Series")
print(data)

# accessing value of sepecific index
print(f"\nValue of index 'b' is {data["b"]}")
data["c"] = 20
print(F"Value of index 'c' has been change into {data["c"]}")

Series
a     5
b    10
c    15
dtype: int64

Value of index 'b' is 10
Value of index 'c' has been change into 20

3.. Create a Series with missing values (None or np.nan):
[1, None, 3, 4, np.nan]

Count how many missing values there are.
Replace all NaN with 0.

In [65]:
import pandas as pd
import numpy as np

# Create a Series with missing values (None or np.nan):
data = pd.Series([1,None, 3,np.nan])
print("Series")
print(data)

# Count how many missing values there are.
# region program way
# missing = 0
# for i in range(len(data)):
#     if pd.isna(data[i]):
#         missing += 1
#         data[i] = 0
# endregion
count = data.isna().sum()
print(f"Number of nan is {count}")

# printing new change data
# region manual way
# print("\nNew Series")
# print(data)
# print(f"Missing value: {missing}")
# endregion
print(data:= data.fillna(0))

Series
0    1.0
1    NaN
2    3.0
3    NaN
dtype: float64
Number of nan is 2
0    1.0
1    0.0
2    3.0
3    0.0
dtype: float64

4.. Create a Series of city names:
['Kathmandu', 'Pokhara', 'Lalitpur', 'Bhaktapur']
Check if 'Pokhara' exists.
Find how many characters each city name has.

In [88]:
import pandas as pd

# Create a Series of city names:
data = pd.Series(['Kathmandu', 'Pokhara', 'Lalitpur', 'Bhaktapur'])

# Check if 'Pokhara' exists.
print(f"Does 'Pokhara' exist: \n{data.isin(["Pokhara"])}")
print("Pokhara" in data.values)

# Find how many characters each city name has.
print(f"Counting charecters in name: {data.str.len()}")

Does 'Pokhara' exist:
0    False
1     True
2    False
3    False
dtype: bool
True
Counting charecters in name: 0    9
1    7
2    8
3    9
dtype: int64

5.. Create a Series of exam marks for 5 students.
Index = student names  
Values = marks
Sort marks in descending order.

Find which student got the highest.

In [ ]:
import pandas as pd

# variable
mask = ['90','60','75','99','60']
student_name = ["ankit", "anmol","amit", "samir","manish"]

# creating Series with idenx name student name, mask as value
result = pd.Series(mask ,index= [name.capitalize() for name in student_name])
print("         Maks")
print(result)

# Sorting mask in decending order
result = result.sort_values(ascending=False)
print("\n        Mask(ranked)")
print(result)

# Find which student got the highest.
print(f"\nHight value obtaing is {result.max()} by {result.index[0]}")

         Maks
Ankit     90
Anmol     60
Amit      75
Samir     99
Manish    60
dtype: object

        Mask(ranked)
Samir     99
Ankit     90
Amit      75
Anmol     60
Manish    60
dtype: object

Hight value obtaing is 99 by Samir

6.. Create a Series from a dictionary:
{'Apple': 100, 'Banana': 30, 'Mango': 80}
Add 20 to each value.
Remove 'Banana'

In [ ]:
import pandas as pd

# variable
fruits_qnt = {
        'Apple': 100,
        'Banana': 30,
        'Mango': 80
        }

# creating Series obejct to store data in 1-dimensonal
data = pd.Series(fruits_qnt)
print("          qty")
print(data)

# Add 20 to each value.
data = data.add(20)
print("\n          qty")
print(data)

# Remove 'Banana' 
data.pop("Banana")
# data = data.drop("Banana")
print("\n          qty")
print(data)

          qty
Apple     100
Banana     30
Mango      80
dtype: int64

          qty
Apple     120
Banana     50
Mango     100
dtype: int64

          qty
Apple    120
Mango    100
dtype: int64

7.. Apply a custom function to Series:
Create a Series of numbers and multiply each element by 3 only if itâ€™s greater than 10.

In [195]:
from os import replace
import pandas as pd

# variables
a = [4,8,9,10,15,11]

# creating object of Series inn 1-dimensoal
data = pd.Series(a)
print("    num")
print(data)

# creaing function that multiply by 3
def multiplier(x):
    if x >= 10:
        return x * 3
    return x

# passing data
data = data.apply(multiplier)
print("\n    num")
print(data)

    num
0     4
1     8
2     9
3    10
4    15
5    11
dtype: int64

    num
0     4
1     8
2     9
3    30
4    45
5    33
dtype: int64